[Unit]
Description=Consul Agent
Requires=network-online.target

[Service]
User={{ consul_user }}
Group={{ consul_group }}
PermissionsStartOnly=true
PIDFile={{ consul_os_pid_dir }}/consul/consul-agent.pid
ExecStartPre=-/bin/mkdir -p {{ consul_os_pid_dir }}/consul
ExecStartPre=/bin/chown -R {{ consul_user }}:{{ consul_group }} {{ consul_os_pid_dir }}/consul/
ExecStart={{ consul_os_install_dir }}/consul agent \
    -config-dir={{ consul_conf_agent_dir }} \
    -pid-file={{ consul_os_pid_dir }}/consul/consul-agent.pid
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
